{% load staticfiles %}

<html>
    <head>
        <title>{% block head_title %}Welcome to my blog{% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/vegas.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup.css" %}">

        <!-- FONTS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/entypo.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,700,800' rel='stylesheet' type='text/css'>

    </head>
    <body>
    	<div class="container">
    		<div class="bigtitle" align="center">
    		   <h1>{% block title %}Welcome to my block{% endblock %}</h1>
        	</div>
        </div>
       	 	{% block content %}

        	{% endblock %}
    </body>
    {% block selective_js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/contact.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/comingsoon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.11.3.min.js.js"></script>


    {% endblock selective_js %}
    
</html>